/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;
}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

body{
    overflow: hidden; /*lock scrolling*/
    font-family: "Trebuchet MS", Arial, sans-serif;
}

header{
    background-color:#e9e7d9;
    display: inline-block;
    padding-top: 10px; 
    width: 100%;
    position: fixed; top: 0px;
    height: 120px;
    
}header img{
    width: 115px;
    height: 115px;
}
h1, h2{
    font-family: "Trebuchet MS", Arial, sans-serif;
    display: inline-block;
    top: -40px; 
    font-size:51px;
    color: #254929;
    text-align: center;
    bottom: 60px;
    position: relative;
    text-shadow: 2px 2px #000;
} h2 {
    font-size: 35px;
    letter-spacing: 1px;
    padding-left: 15px;
}

#background {
    z-index: -2;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/PrivateShoots/4.jpeg) no-repeat;
    background-size: cover;
    min-width: 700px;
    min-height: 600px;
    height: 1200px;
}

nav{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    letter-spacing: 20px;
    background-color: #74ba78;
    box-shadow: 10px 10px #343f34;
    position: fixed;
    top: 80%;
    width: 350px;
    height: 110px;
    right: 20%; 
    left: 20%;
}

.container{
    padding-right: 16px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #74ba78;
    box-shadow: 11px 11px #343f34;
    position: fixed;
    top: 340px;
    margin-left: auto;
    margin-right: 34px;
    width: 87%;
    height: 500px;
    overflow: auto;
}

.container p{
    text-indent: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 19px;
}

#garypic{
    background-image: url(../img/nav/cellgary.jpg);
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
    position:relative;
    width: 420px;
    height: 240px;
    background-size: cover;
}

i{
    font-style: italic;
    color: #2F2F4F;
}

a{
  transition: color 0.5s ease;
    color: #c12728;
    text-decoration: none;
}
a:hover {
  color: #800000;
}

b{
    font-size: 13px;
    font-weight: bold;
}

.more{
    text-align: left;
    letter-spacing: 15px;
    padding-left: 3px;
}

.more img{
    height: 40px;
}

::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.6); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.9); 
    background-color: #053e05;
}


.contactcontain{
    padding-right: 16px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #74ba78;
    box-shadow: 11px 11px #343f34;
    position: fixed;
    top: 340px;
    margin-left: auto;
    margin-right: 34px;
    width: 87%;
    height: 500px;
    overflow: auto;
}

.contactcontain p{
    text-indent: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 26px;
    padding-bottom: 10px;
}

.containergal{
    padding-right: 16px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #74ba78;
    box-shadow: 11px 11px #343f34;
    position: fixed;
    top: 340px;
    margin-left: auto;
    margin-right: 34px;
    width: 87%;
    height: 500px;
    overflow: auto;
    text-align: center; 
}

.gallery img{
    height: 170px;
    padding-top: 10px;
}
